parameters:
	ignoreErrors:
		- '#Accessing property $arguments on possibly null value of type Nette\DI\Statement|null#'
		- '#Method Contributte\\Console\\Extra\\Command\\Router\\RouterDumpCommand::createRows\(\) should return array but returns array\|object\.#'
